{% extends "base.html" %} {% block content %}



<div class="center">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="images" class="upload-label">
            Choose Image to Detect the Objects
        </label>
        <input type="file" name="images" id="images" accept=".png, .jpg, .jpeg">
        <label for="simage" class="upload-label">Choose Image for converting into Speech </label>
        <input type="file" name="simage" id="simage" accept=".png, .jpg, .jpeg">
    </form>

 
    <div id="imagePreview">
    </div>
        <div class="img-preview" style="display:none;">
            
            <div>
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
            </div>
        </div>   

        <div class="text" style="display:none;">
            <div class="text-preview">

            </div> 
            <button type="button" class="btn btn-primary btn-lg " id="btn-text">Convert to Speech</button>
        </div>


    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>
    <img id="target" src="" />
   
 
</div>

{% endblock %}